/* Empty. Add your own CSS if you like */
.card {
    margin: 0px 10px 0px 10px !important;
}

.oracion{
	font-size: 25px;
	line-height: 35px;
	padding:0 10px 0 10px; 
}


body{
	font-family: 'Courgette', cursive;
	
}

.title{
	font-family: 'Courgette', cursive;
}

h2{
font-family: 'Courgette', cursive;	
}

.scroll-bar-indicator
{
	display: none;
}

